In [1]:
import pandas as pd
from json import load

In [2]:
df = pd.read_csv("COVIDiSTRESS_April_May_Combined.csv")
df.head()

,Unnamed: 0,PSS10_avg,latitude,longitude,Trust_countrymeasure,Lon_avg,Dem_age,Dem_edu,Dem_Expat,Dem_dependents,...,Student,Divorced/widowed,Married/cohabiting,Single,Uninformative response,1,Isolated,Isolated in medical facility of similar location,Life carries on as usual,Life carries on with minor changes
0,0,0.32,0.622222,0.055556,0.5,0.466667,-0.416931,0.833333,1.0,0.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,0.48,0.540741,0.108333,0.5,0.733333,0.989318,0.833333,0.0,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,0.62,0.540741,0.108333,0.5,0.533333,0.619253,0.666667,0.0,0.582783,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,0.38,0.511111,0.011111,0.2,0.266667,0.545240,0.833333,0.0,0.321513,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,4,0.54,0.540741,0.108333,0.8,0.466667,1.581423,1.000000,0.0,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [5]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="geoapiExercises")
country = []
for row in df.iterrows():
    location = geolocator.reverse(str(row[1][2]*90.0)+","+str(row[1][3]*180.0))
    country.append(location.raw['address'].get('country', ''))
country

In [ ]:
df['country'] = country
df.head()

In [ ]:
df_country = df.groupby(['country']).mean()